.main{
    position: fixed;
    left: 280px;
    top: 120px;
    width: 79%;
    background-color: rgb(222, 224, 224);
}
.headbar{
    height: 35px;
    background-color: rgb(117, 116, 116);
}
table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid #ddd;
  }
  
th, td {
    text-align: left;
    padding: 8px;
  }
  
tr:nth-child(even){
    background-color: #f2f2f2
    }