<div class="main">
    <div class="headbar">
        <h1 style="color: white;"> Existing Customer Details </h1>
    </div>
    <div style="overflow-x:auto;">
        <table>
            <tr>
                <th>CustomerID</th>	
                <th>FirstName</th>
                <th>LastName</th>	
                <th>EmailID</th>	
                <th>PhoneNo</th>	
                <th>Username</th>
                <th>Password</th>	
                <th>PAN</th>	
                <th>AadharNo</th>
                <th>BankName</th>	
                <th>AccountNo</th>
                <th>IFSC</th>	
                <th>AddressLine1</th>	
                <th>AddressLine2</th>	
                <th>City</th>	
                <th>State</th>	
                <th>Country</th>	
                <th>ActivationStatus</th>	
                <th>NumberOfPurchase</th>
                <th>Card Number</th>
                <th>Balance</th>
            </tr>
            
            <tr>
                <td>Default</td>
                <td>Default</td>
                <td>Default</td>
                <td>Default</td>
                <td>Default</td>
                <td>Default</td>
                <td>Default</td>
                <td>Default</td>
                <td>Default</td>
                <td>Default</td>
                <td>Default</td>
                <td>Default</td>
                <td>Default</td>
                <td>Default</td>
                <td>Default</td>
                <td>Default</td>
                <td>Default</td>
                <td>Default</td>
                <td>Default</td>
                <td>Default</td>
                <td>Default</td>
            </tr>
            <tr>
                <td>Default</td>
                <td>Default</td>
                <td>Default</td>
                <td>Default</td>
                <td>Default</td>
                <td>Default</td>
                <td>Default</td>
                <td>Default</td>
                <td>Default</td>
                <td>Default</td>
                <td>Default</td>
                <td>Default</td>
                <td>Default</td>
                <td>Default</td>
                <td>Default</td>
                <td>Default</td>
                <td>Default</td>
                <td>Default</td>
                <td>Default</td>
                <td>Default</td>
                <td>Default</td>
            </tr>
            <tr>
                <td>Default</td>
                <td>Default</td>
                <td>Default</td>
                <td>Default</td>
                <td>Default</td>
                <td>Default</td>
                <td>Default</td>
                <td>Default</td>
                <td>Default</td>
                <td>Default</td>
                <td>Default</td>
                <td>Default</td>
                <td>Default</td>
                <td>Default</td>
                <td>Default</td>
                <td>Default</td>
                <td>Default</td>
                <td>Default</td>
                <td>Default</td>
                <td>Default</td>
                <td>Default</td>
            </tr>
        </table>
    </div>
</div>