<div class="login-page">
  <mat-card class="mat-elevation-z12">
    <mat-card-title style="text-align:center;">SignIn</mat-card-title>
    <mat-tab-group mat-stretch-tabs class="example-stretched-tabs">
      <mat-tab label="Sign In">
          <mat-card-content>
            <form action="">
              <mat-form-field>
	
	
          
		  <input matInput type="text" id="inputusername" class="form-control" placeholder="username" required autofocus
          [(ngModel)]="username" name="username" >
		  
		  <mat-icon matSuffix>username</mat-icon>
              </mat-form-field>
        
		<mat-form-field>
                
          <input matInput type="password" id="inputPassword" class="form-control" placeholder="Password" required 
          [(ngModel)]="password" name="password">
              </mat-form-field>
              <mat-checkbox>Remember Me!</mat-checkbox>
              <button
                mat-raised-button
                color="primary"
                class="login-button"
                (click)="loginUser()">
                Sign In
              </button>
			  
			   </form>
          </mat-card-content>

            </mat-tab>
   
      
    </mat-tab-group>
  </mat-card>
</div>
         
        
    <div *ngIf="uId$ | async as uId">
            {{moveToHomePage(uId)}}
    </div>