<div class="login-page">
  <mat-card class="mat-elevation-z12">
    <mat-card-title style="text-align:center;">SignUp</mat-card-title>
    <mat-tab-group mat-stretch-tabs class="example-stretched-tabs">
      
      <mat-tab label="Sign Up">
        <mat-card-content>
          <form action="">

            <mat-form-field>
              <input matInput type="text" placeholder="First Name" class="form-group" name="t2" [(ngModel)]=userSignUp.firstname />
              <mat-icon matSuffix>perm_identity</mat-icon>
             
            </mat-form-field>
              <mat-form-field>
                <input matInput type="text" placeholder="Last Name" class="form-group" name="t2" [(ngModel)]=userSignUp.lastname />
                <mat-icon matSuffix>perm_identity</mat-icon>
              </mat-form-field> 
            <mat-form-field>
              <input matInput type="text"placeholder="Email" class="form-group" name="t2" [(ngModel)]=userSignUp.emailid />
              
              <mat-icon matSuffix>contact_mail</mat-icon>
            </mat-form-field> 

           <mat-form-field> 
              <input matInput type="text"  placeholder="Mobile No." class="form-group" name="t2" [(ngModel)]=userSignUp.phoneno />
                <!-- <mat-error *ngIf="phoneno.invalid">Mobile no. is required.</mat-error> -->
                <!-- <mat-error *ngIf="phoneno.pattern">invalid</mat-error> -->
              <mat-icon matSuffix>contact_phone</mat-icon>
            </mat-form-field>
            
           <mat-form-field>
              <input matInput type="text" placeholder="Address line 1" class="form-group" name="t2" [(ngModel)]=userSignUp.addressline1 />
              <mat-icon matSuffix>home</mat-icon>
              <!-- <mat-error *ngIf="addressline1.invalid">Address is required.</mat-error> -->
            </mat-form-field>
            <mat-form-field>
              <input matInput type="text"  placeholder="Address line 2" class="form-group" name="t2" [(ngModel)]=userSignUp.addressline2 />
              <mat-icon matSuffix>home</mat-icon>
            </mat-form-field>
            <mat-form-field>
               <input matInput type="text" placeholder="Country" class="form-group" name="t2" [(ngModel)]=userSignUp.country />
              <mat-icon matSuffix>home</mat-icon>
              <!-- <mat-error *ngIf="country.invalid">Country is required.</mat-error> -->
            </mat-form-field>
            <mat-form-field>
             <input matInput type="text" placeholder="State"  class="form-group" name="t2" [(ngModel)]=userSignUp.state />
              <mat-icon matSuffix>home</mat-icon>
              <!-- <mat-error *ngIf="state.invalid">state is required.</mat-error> -->
            </mat-form-field>
            <mat-form-field>
              <input matInput type="text" placeholder="City"  class="form-group" name="t2" [(ngModel)]=userSignUp.city />
              <mat-icon matSuffix>home</mat-icon>
              <!-- <mat-error *ngIf="city.invalid">city is required.</mat-error> -->
            </mat-form-field>
            <mat-form-field>
              <input matInput type="text" placeholder="UserName"  class="form-group" name="t2" [(ngModel)]=userSignUp.username />
                <!-- <mat-error *ngIf="username.invalid">Username is required.</mat-error> -->
                <mat-icon matSuffix>account_circle</mat-icon>
            </mat-form-field>
            <mat-form-field>
              <input matInput type="password" placeholder="Password" class="form-group" name="t2" [(ngModel)]=userSignUp.password />
                <!-- <mat-error  *ngIf="password.errors && password.errors.required">Password is required.</mat-error> -->
                <!-- <mat-error  *ngIf="password.errors && password.errors.minlength">Password must be of length 6.</mat-error> -->
              <!-- <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide"> -->
    <!-- <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon> -->
  <!-- </button> -->
            </mat-form-field>
        
            <mat-form-field>
              <input matInput type="text" placeholder="PAN No." class="form-group" name="t2" [(ngModel)]=userSignUp.pan />
              <mat-icon matSuffix>credit_card</mat-icon>
              <!-- <mat-error *ngIf="pan.invalid">PAN is required.</mat-error> -->
            </mat-form-field>
            <mat-form-field>
              <input matInput type="text" placeholder="Aadhar No."  class="form-group" name="t2" [(ngModel)]=userSignUp.aadharno />
              <mat-icon matSuffix>credit_card</mat-icon>
              <!-- <mat-error *ngIf="aadharno.invalid">Aadhar no. is required.</mat-error> -->
            </mat-form-field>
            <mat-form-field>
             <input matInput type="text" placeholder="Bank Name" class="form-group" name="t2" [(ngModel)]=userSignUp.bankname /> 
              <mat-icon matSuffix>account_balance</mat-icon>
              <!-- <mat-error *ngIf="bankname.invalid">Bank name is required.</mat-error> -->
            </mat-form-field>
            <mat-form-field>
             <input matInput type="text" placeholder="IFSC No." class="form-group" name="t2" [(ngModel)]=userSignUp.ifsc />
              <mat-icon matSuffix>account_balance</mat-icon>
              <!-- <mat-error *ngIf="ifsc.invalid">IFSC no. is required.</mat-error> -->
            </mat-form-field>
            <mat-form-field>
              <input matInput type="text" placeholder="Account No." class="form-group" name="t2" [(ngModel)]=userSignUp.accountno />
              <mat-icon matSuffix>account_balance</mat-icon>
              <!-- <mat-error *ngIf="accountno.invalid">Account no. is required.</mat-error> -->
            </mat-form-field> 
           
            <button mat-raised-button color="primary" class="login-button" (click)="onRegisterClick()" [routerLink]="['../index']" >Sign Up</button>
          </form>
        </mat-card-content>
      </mat-tab>
    </mat-tab-group>
  </mat-card>
</div>