<div class="main">
    <div class="headbar">
        <h1 style="color: white;"> Product Inventory </h1>
    </div>
    <div style="overflow-x:auto;">
        <table>
            <tr>
                <th>Product ID</th>	
                <th>Name</th>
                <th>Detail</th>	
                <th>Available Numbers</th>	
                <th>Actual Cost</th>	
                <th>Processing Charge</th>
                <th>Total Cost</th>		
            </tr>
            
            <tr>
                <td>Default</td>
                <td>Default</td>
                <td>Default</td>
                <td>Default</td>
                <td>Default</td>
                <td>Default</td>
                <td>Default</td>
            </tr>
            <tr>
                <td>Default</td>
                <td>Default</td>
                <td>Default</td>
                <td>Default</td>
                <td>Default</td>
                <td>Default</td>
                <td>Default</td>
            </tr>
            <tr>
                <td>Default</td>
                <td>Default</td>
                <td>Default</td>
                <td>Default</td>
                <td>Default</td>
                <td>Default</td>
                <td>Default</td>
            </tr>
        </table>
    </div>
    <div>
        <h2>Add New Products</h2>
        <form action="" method="get">
            <label for="productId">Product ID:</label><br>
            <input type="text" id="productId" name="productId" value=""><br>
            <label for="productName">Product Name:</label><br>
            <input type="text" id="productName" name="productName" value=""><br>
            <label for="detail">Detail:</label><br>
            <input type="text" id="detail" name="detail" value=""><br>
            <label for="availableNumbers">Available Numbers:</label><br>
            <input type="text" id="availableNumbers" name="availableNumbers" value=""><br>
            <label for="actualCost">Actual Cost:</label><br>
            <input type="text" id="actualCost" name="actualCost" value=""><br>
            <label for="processingCharge">Processing Charge:</label><br>
            <input type="text" id="processingCharge" name="processingCharge" value=""><br>
            <label for="totalCost">Total Cost:</label><br>
            <input type="text" id="TotalCost" name="TotalCost" value=""><br>
            <input type="submit" value="Submit">
        </form>
    </div>
</div>