
<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
	<div >
		<div id="navbar" >
			<button class="btn btn-outline-light w-75" (click)="loginUser()" *ngIf="loginOrLogout==='Login' else userLoggedIn">
                Login
            </button>
            <ng-template #userLoggedIn>
                <button class="btn btn-outline-danger w-75" (click)="logoutUser()">
                    Logout
                </button>
            </ng-template>
            <button class="btn btn-success" [routerLink]="['/register']" >Sign Up</button>
            <button class="btn btn-success" [routerLink]="['/userdashboard']" 
            *ngIf="uId>0"
            >My Profile</button>
		</div>
	</div>
<div>
<div id="side">	
	<nav id="side-container" >
		<div class="head"><h2> DhanKosh </h2>
			<img src="assets/img/logo.png" height="50px" width="80px"> <br>
			<br>
		</div>
		<div class="barblock">
			<a href="#portfolio" class="button"  onclick="off()">Devices</a> 
    		<a href="#about"  class="button" onclick="off()">Appliances</a> 
    		<a href="#contact" class="button" onclick="off()">Jewellery</a>

		</div>
	</nav>
</div>	

<!--for small screen-->

<!--end of fafaf bar-->
	<div id="container">
		<div class="content">
			<div id="portfolio">
			</div>
			<br><br>Upcoming Products<br><br>
			<img class="imgabout" src="./assets/31.jpg" >
			<img class="imgabout" src="./assets/32.jpg" >
			<br><br>Available Products<br><br>
			<div class="imgbox">
				<img  class="img" src="./assets/1.jpg" >
				<div class="boxcontent">
					<h4>HP Spectre</h4>
					<a href="/product1">Buy Now</a>
				</div>
			</div>
			<div class="imgbox">
				<img  class="img" src="./assets/2.jpg" >
				<div class="boxcontent">
					<h4>Motorola Edge+</h4>
					<a href="/product2">Buy Now</a>
				</div>
			</div>
			
			<div>
				<!-- about section -->
				<br><br>Upcoming Products<br><br>
				<img id="about" class="imgabout" src="./assets/11.jpg" >
				<img  class="imgabout" src="./assets/12.jpg" >
				<br><br>Available Products<br><br>
				<div class="imgbox">
					<img  class="img" src="./assets/3.jpg" >
					<div class="boxcontent">
						<h4>onePlus TV</h4>
						<a href="/product3">Buy Now</a>
					</div>
				</div>
				<div class="imgbox">
					<img  class="img" src="./assets/4.jpg" >
					<div class="boxcontent">
						<h4>Bluestar AC</h4>
						<a href="/product4">Buy Now</a>
					</div>
				</div>
				
				
			</div>
			<!-- contact section -->
				<br><br>Upcoming Products<br><br>
				<img id="contact" class="imgabout" src="./assets/21.jpg" >
				<img  class="imgabout" src="./assets/22.jpg" >
				<br><br>Available Products<br><br>
				<div class="imgbox">
					<img  class="img" src="./assets/5.jpg" >
					<div class="boxcontent">
						<h4>Saura Neckwear</h4>
						<a href="/product5">Buy Now</a>
					</div>
				</div>
				<div class="imgbox">
					<img  class="img" src="./assets/6.jpg" >
					<div class="boxcontent">
						<h4>Gili Earring</h4>
						<a href="/product6">Buy Now</a>
					</div>
				</div>
				
		</div>

	</div>
</div>
</body>
</html>


