<!DOCTYPE html>
<html>
<head>
</head>
<body>
<div class="bordered" >
	<table>
		<tr>
			<th rowspan="3">
			<img src="/assets/cars.jpg" alt="car" height="300" width="300">
			</th>
			<td class="h1">
				<b>PRODUCT NAME:-------</b>
			</td>
		</tr>
		<tr>
			<td class="h1">
				<b>PRODUCT DETAILS:-------------<BR>
				----------<br>
				-------------<BR></b>
			</td>
		</tr>
		<tr>
			<td class="h1">
				<b>COST:------</b>
			</td>
		</tr>
		<tr>
			<th></th>
			<th class="h2">
				EMI PERIOD
			</th>
		</tr>
		<tr>
			<th></th>
			<th><br>
                <mat-form-field appearance="fill">
                    <mat-label>Choose an EMI plan</mat-label>
                    <mat-select>
                      <mat-option value="option1">Option 1</mat-option>
                      <mat-option value="option2">Option 2</mat-option>
                      <mat-option value="option3">Option 3</mat-option>
                    </mat-select>
                  </mat-form-field>
                <br><br><br>
                    EMI STARTING 6000PM
                <br><br><br>
                <button mat-raised-button color="primary">Pay Now</button>
                <br><br>
                <a>Terms and Condition</a>
			</th>
		</tr>
	</table>
</div>
</body>
</html>