
<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
	<div >
		<div id="navbar">
			<a href="#home">Home</a>
			<a href="#news">News</a>
			<a href="#contact">Contact</a>
		</div>
	</div>
<div>
<div id="side">	
	<nav id="side-container" >
		<div class="barblock">
			<a href="#portfolio" class="button"  onclick="off()">Clothes</a> 
    		<a href="#about"  class="button" onclick="off()">Appliances</a> 
    		<a href="#contact" class="button" onclick="off()">Cars</a>

		</div>
	</nav>
</div>	

<!--for small screen-->

<!--end of fafaf bar-->
	<div id="container">
		<div class="content">
			<div id="portfolio">
			</div>
			<img class="imgabout" src="https://www.w3schools.com/w3images/avatar_g.jpg" >
			<img class="imgabout" src="https://www.w3schools.com/w3images/me2.jpg" >
			<div class="imgbox">
				<img  class="img" src="https://www.w3schools.com/w3images/mountains.jpg" >
				<div class="boxcontent">
					<h4>Images</h4>
					<p>pic credit goes to xyz</p>
				</div>
			</div>
			<div class="imgbox">
				<img  class="img" src="https://www.w3schools.com/w3images/mountains.jpg" >
				<div class="boxcontent">
					<h4>Images</h4>
					<p>pic credit goes to xyz</p>
				</div>
			</div>
			<div class="imgbox">
				<img  class="img" src="https://www.w3schools.com/w3images/mountains.jpg" >
				<div class="boxcontent">
					<h4>Images</h4>
					<p>pic credit goes to xyz</p>
				</div>
			</div>
			<div class="imgbox">
				<img  class="img" src="https://www.w3schools.com/w3images/mountains.jpg" >
				<div class="boxcontent">
					<h4>Images</h4>
					<p>pic credit goes to xyz</p>
				</div>	
			</div>
			<div class="imgbox">
				<img  class="img" src="https://www.w3schools.com/w3images/mountains.jpg" >
				<div class="boxcontent">
					<h4>Images</h4>
					<p>pic credit goes to xyz</p>
				</div>
			</div>
			<div class="imgbox">
				<img  class="img" src="https://www.w3schools.com/w3images/mountains.jpg" >
				<div class="boxcontent">
					<h4>Images</h4>
					<p>pic credit goes to xyz</p>
				</div>	
			</div>
			<div>
				<!-- about section -->
				<img id="about" class="imgabout" src="https://www.w3schools.com/w3images/avatar_g.jpg" >
				<img  class="imgabout" src="https://www.w3schools.com/w3images/me2.jpg" >
				<div class="imgbox">
					<img  class="img" src="https://www.w3schools.com/w3images/mountains.jpg" >
					<div class="boxcontent">
						<h4>Images</h4>
						<p>pic credit goes to xyz</p>
					</div>
				</div>
				<div class="imgbox">
					<img  class="img" src="https://www.w3schools.com/w3images/mountains.jpg" >
					<div class="boxcontent">
						<h4>Images</h4>
						<p>pic credit goes to xyz</p>
					</div>
				</div>
				<div class="imgbox">
					<img  class="img" src="https://www.w3schools.com/w3images/mountains.jpg" >
					<div class="boxcontent">
						<h4>Images</h4>
						<p>pic credit goes to xyz</p>
					</div>
				</div>
				<div class="imgbox">
					<img  class="img" src="https://www.w3schools.com/w3images/mountains.jpg" >
					<div class="boxcontent">
						<h4>Images</h4>
						<p>pic credit goes to xyz</p>
					</div>	
				</div>
				<div class="imgbox">
					<img  class="img" src="https://www.w3schools.com/w3images/mountains.jpg" >
					<div class="boxcontent">
						<h4>Images</h4>
						<p>pic credit goes to xyz</p>
					</div>
				</div>
				<div class="imgbox">
					<img  class="img" src="https://www.w3schools.com/w3images/mountains.jpg" >
					<div class="boxcontent">
						<h4>Images</h4>
						<p>pic credit goes to xyz</p>
					</div>	
				</div>
				
			</div>
			<!-- contact section -->
				<img id="contact" class="imgabout" src="https://www.w3schools.com/w3images/avatar_g.jpg" >
				<img  class="imgabout" src="https://www.w3schools.com/w3images/me2.jpg" >
				<div class="imgbox">
					<img  class="img" src="https://www.w3schools.com/w3images/mountains.jpg" >
					<div class="boxcontent">
						<h4>Images</h4>
						<p>pic credit goes to xyz</p>
					</div>
				</div>
				<div class="imgbox">
					<img  class="img" src="https://www.w3schools.com/w3images/mountains.jpg" >
					<div class="boxcontent">
						<h4>Images</h4>
						<p>pic credit goes to xyz</p>
					</div>
				</div>
				<div class="imgbox">
					<img  class="img" src="https://www.w3schools.com/w3images/mountains.jpg" >
					<div class="boxcontent">
						<h4>Images</h4>
						<p>pic credit goes to xyz</p>
					</div>
				</div>
				<div class="imgbox">
					<img  class="img" src="https://www.w3schools.com/w3images/mountains.jpg" >
					<div class="boxcontent">
						<h4>Images</h4>
						<p>pic credit goes to xyz</p>
					</div>	
				</div>
				<div class="imgbox">
					<img  class="img" src="https://www.w3schools.com/w3images/mountains.jpg" >
					<div class="boxcontent">
						<h4>Images</h4>
						<p>pic credit goes to xyz</p>
					</div>
				</div>
				<div class="imgbox">
					<img  class="img" src="https://www.w3schools.com/w3images/mountains.jpg" >
					<div class="boxcontent">
						<h4>Images</h4>
						<p>pic credit goes to xyz</p>
					</div>	
				</div>
		</div>

	</div>
</div>
</body>
</html>


